# =============================================================================
# Ingress NGINX - Base Values
# =============================================================================

controller:
  # Replicas
  replicaCount: 2

  # Resources
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  # Metrics
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

  # Config
  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
    use-proxy-protocol: "false"
    proxy-body-size: "50m"
    proxy-buffer-size: "16k"

  # Service
  service:
    type: LoadBalancer
    # annotations:
    #   service.beta.kubernetes.io/aws-load-balancer-type: nlb

  # Admission webhooks
  admissionWebhooks:
    enabled: true

# Default backend
defaultBackend:
  enabled: false
