# =============================================================================
# Cert-Manager - Base Values
# =============================================================================

# Install CRDs
installCRDs: true

# Replicas
replicaCount: 1

# Resources
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

# Webhook
webhook:
  replicaCount: 1
  resources:
    requests:
      cpu: 50m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi

# CA Injector
cainjector:
  enabled: true
  replicaCount: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi

# Prometheus metrics
prometheus:
  enabled: true
  servicemonitor:
    enabled: true

# DNS01 recursive nameservers (для ACME)
dns01RecursiveNameservers: "8.8.8.8:53,1.1.1.1:53"
dns01RecursiveNameserversOnly: false
